*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(129, 96, 96);
    margin: 0;
    padding: 20px;
    font-family: 'Noto Sans Thin', sans-serif; 
    color: white
}
@font-face{
    src: url('./font/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    text-align: center;
    font-size: 2.5em;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(100, 100, 87);
}

img{
    margin: 10px 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 5px 0px 0px rgb(177, 163, 163);
    transition: tranform 0.3s ease;
}

img:hover{
    transform: scale(1.1);
}

.plato{
    text-align: center;
    border: 2px solid;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
    background-color: rgb(100, 100, 87);
    
}
h3{
    margin: 5px 5px;
    letter-spacing: 2px;
}

p{
    margin: 2px 2px;
    letter-spacing: 2px;
}

